@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Chakra Petch";
}

@layer components {
  .button {
    @apply bg-[#FF6969] py-1 px-4 rounded-md text-white text-lg font-semibold hover:opacity-80 duration-200;
  }
}

.select-status {
  background-image: url(./assets/icon-chevron-down.svg);
  background-size: 18px;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 16px top 50%;
}

@media (max-width: 374px) {
  /* Dark mode Switch  */
  .darkToggleSm {
    position: absolute;
    left: 0;
    top: 4px;
  }
}
